<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_SmartTabs>
			<version>1.3.3.16</version>
		</Fishpig_SmartTabs>
	</modules>
	<global>
		<helpers>
			<smarttabs>
				<class>Fishpig_SmartTabs_Helper</class>
			</smarttabs>
		</helpers>
		<blocks>
			<smarttabs>
				<class>Fishpig_SmartTabs_Block</class>
			</smarttabs>
			<catalog>
				<rewrite>
					<product_view_tabs>Fishpig_SmartTabs_Block_Tabs</product_view_tabs>
				</rewrite>
			</catalog>
		</blocks>
		<models>
			<smarttabs>
				<class>Fishpig_SmartTabs_Model</class>
				<resourceModel>smarttabs_resource</resourceModel>
			</smarttabs>
			<smarttabs_resource>
				<class>Fishpig_SmartTabs_Model_Resource</class>
				<entities>
					<tab><table>smarttabs_tab</table></tab>
					<tab_store><table>smarttabs_tab_store</table></tab_store>
				</entities>
			</smarttabs_resource>
		</models>
		<resources>
			<smarttabs_setup>	
				<setup>
					<module>Fishpig_SmartTabs</module>
				</setup>
			</smarttabs_setup>
		</resources>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<smarttabs>
					<file>smarttabs.xml</file>
				</smarttabs>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<smarttabs before="Mage_Adminhtml">Fishpig_SmartTabs_Adminhtml</smarttabs>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<frontend>
		<layout>
			<updates>
				<smarttabs>
					<file>smarttabs.xml</file>
				</smarttabs>
			</updates>
		</layout>
	</frontend>
	<default>
		<smarttabs>
			<product>
				<enabled>1</enabled>
			</product>
		</smarttabs>
	</default>
</config>